extends layout
block content
    h1= title
    form(id='OvenForm' action="/resource/oven" method="POST")
        div.form-group
            label.ovenAttr(for='oven_Color') Oven Color
            input#order_name(type='text' name='oven_Color')
        div.form-group
            label.ovenAttr(for='oven_Brand') Oven Brand
            input#order_quantity(type='text' name='oven_Brand')
        div.form-group
            label.ovenAttr(for='oven_Type') Oven Type
            input#order_price(type='text' name='oven_Type')
            input(type="submit")
        script.
            document.forms['OvenForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });