extends layout
block content
    h1= title
 
    - let ovenid = toShow._id
    - let oven_color = toShow.oven_color
    - let oven_brand = toShow.oven_brand
    - let oven_price = toShow.oven_price
    
     div.row(class='mb-2')
        div.mr-1 ID is
        div #{ovenid}
    - let actionid = "/resource/oven/" + ovenid
    form(id='OvenForm' action= actionid method="PUT")
        div.form-group
            label.ovenAttr(for='oven_color') Oven Color
            input#oven_color(type='text' name='oven_color',value= oven_color )
        div.form-group
            label.ovenAttr(for='oven_brand') Oven Brand
            input#oven_brand(type='text' name='oven_brand', value= oven_brand)
        div.form-group
            label.ovenAttr(for='oven_price') Oven Type
            input#oven_price(type='text' name='oven_price',value= oven_price)
            input(type="submit")
        script.
            document.forms['OvenForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });