extends layout
block content
    h1= title
    form(id='ovenForm' action="/resource/oven" method="POST")
        div.form-group
            label.ovenAttr(for='oven_color') oven type
            input#oven_color(type='text' name='oven_color')
        div.form-group
            label.ovenAttr(for='oven_brand') oven size
            input#oven_brand(type='text' name='oven_brand')
        div.form-group
            label.ovenAttr(for='oven_price') oven cost
            input#oven_price(type='number' name='oven_price')
            input(type="submit")
        script.
            document.forms['ovenForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
            });