body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: purple;
}

h1{
  color: purple;
}

.ovenAttr {
  background-color: purple;
  width: 120px;
 }

 .values {
  border: outset;
  width: 300px;
  border-color:purple;
  margin-top: 10px;
  margin-bottom: 10px;
}
